# Auto detect text files and perform LF normalization
* text=auto

#Added for LFS
*.unity filter=lfs diff=lfs merge=lfs -text


#3D Object
*.FBX filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text


